@using C_Sharp_ViewModelFun.Models
@model Person

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h4>Let's do Assignment here!</h4>
    <p>--</p> 
    <p>Here is a User!</p>
    <p>--</p> 
    <p>@Model.FirstName @Model.LastName</p>
</div>
